.cash_party_section {
  position: relative;
  padding: 100px 0 20px;
  &__title {
    text-align: center;
    font-weight: 700;
    font-family: $font-family-secondary;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    &_green {
      color: $color-secondary;
    }
    &_second {
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      font-family: $font-family-primary;
      font-weight: 500;
      line-height: 150%;
      margin-bottom: 30px;
    }
  }
  &__description {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $font-family-primary;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
    background-color: rgba(73, 110, 13, 0.7);
    border: 2px solid $color-secondary;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 30px;
  }
  &__list {
    margin-bottom: 50px;
    &_title {
      text-align: center;
      font-size: 18px;
      font-family: $font-family-primary;
      font-weight: 700;
      margin-bottom: 30px;
    }
    &_description{
      text-align: center;
      font-size: 18px;
      font-family: $font-family-primary;
      font-weight: 500;
      margin-bottom: 30px;
      &_upper {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
      }
      &_green {
        color: $color-secondary;
      }
    }
    &_item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      &_marker {
        width: 30px;
        height: 30px;
        display: block;
        margin-right: 10px;
      }
    }
  }
}