$grid-breakpoints: (
        xs: 0,
        sm: 375px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1900
);

$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;

$color-primary: #333333;
